.memory-game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.memory-game div {
  flex-basis: 150px;
  height: 150px;
  background-color: #333;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  perspective: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
}

.memory-game div.flip {
  transform: rotateY(180deg);
}

.memory-game div {
  transition: transform 0.5s ease, background-color 0.5s ease;
}